snippet c2db "Connect to crypt2"
-- VIM: let b:vimpipe_command='mysql -uroot --password=optelligence -hcrypt2 combined' 
endsnippet

snippet c3db "Connect to crypt3"
-- VIM: let b:vimpipe_command='mysql -uroot --password=optelligence -hcrypt3 combined' 
endsnippet

snippet ldb "Connect to local database"
-- VIM: let b:vimpipe_command='mysql -uroot combined' 
endsnippet
